.hero {
    background-image: linear-gradient(0deg, #FFFFFF 6%, #FEF7FF 30%, #F0FFFE 64%, #FFFFFF 94%);
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.06);
    padding: 1em;
}

.hero-value{
    margin-top: 3em;
}

.hero-value h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.hero-value h6 {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.75em;
    letter-spacing: 0.04em;
    margin-top: 2em;
}

.hero-value img{
    width: 100%;
    display: block;
    max-width: 60em;
    margin: 2em auto;
    box-shadow: 0 15px 40px 0 rgba(0,0,0,0.10);
}

.hero .create-mockup-button-top, .hero .create-mockup-button-bottom{
    background: #00C7B6;
    border: 1px solid #00C7B6;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 0.075em;
    border-radius: 6px;
    padding: 1em 3em;
    line-height: 2em;
    margin: 3em;
}

.hero .create-mockup-button-top:hover, .hero .create-mockup-button-bottom:hover{
    background: #ffffff;
    color: #00C7B6;
    border: 1px solid #00C7B6;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 0.075em;
    border-radius: 6px;
    padding: 1em 3em;
    line-height: 2em;
    margin: 3em;
}

@media only screen and (max-width: 575px) {
    
    Button.create-mockup-button-top {
        display: none;
    }
}






